body{
    background-color: rgb(15, 22, 37);
}
header{
    width: 100%;
    background-color:rgb(26, 39, 66);
    height: 150px;
    border-radius: 10px;
    color: white;
}
h1{
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 35px;
}
.h2-1{
    text-align: center;
    font-size: 35px;
    position: relative;
    top: 20px;
}
.article-1,.article-2{
    color: white;
    background-color: rgb(26, 39, 66);
    margin-top: 40px;
    border-radius: 10px;
    width: 100%;
    height: 260px;
}

.p-1{
    text-align: center;
    margin-right: 10px;
    margin-top: 40px;
    font-size: 20px;
}
.h2-2{
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 5px;
}

.img-1{
    border-radius: 10px;
    margin-left: 10px;
    display: block;
    position: relative;
    bottom: 100px;
}
.p-2{
    font-size: 30px;
    position: relative;
    top: 70px;
    right: 20px;
    direction: rtl;
}
