body{
    background-color: rgb(255, 255, 255);
}
header{
    width: 100%;
    background-color:rgba(145, 175, 204, 0.253);
    height: 170px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
h1{
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 35px;
    font-family: "Rubik", sans-serif;
}
.h2-1{
    font-family: "Playwrite DK Loopet", cursive;
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 35px;
    font-weight: 800;
    background: linear-gradient(
    270deg,
    #0066ff,
    #ff0000,
    #ff9900,
    #0066ff  /* تكرار اللون الأول لانتقال سلس */
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.article-1,.article-2{
    color: rgb(0, 0, 0);
    background-color: rgba(145, 175, 204, 0.253);
    margin-top: 40px;
    border-radius: 10px;
    width: 100%;
    height: 290px;
    font-family: "Rubik", sans-serif;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.article-1{
      height: 330px;
}

.article-2{
    height: 250px;
}
.p-1{
    text-align: center;
    margin-right: 10px;
    margin-top: 40px;
    font-size: 20px;
}
.h2-2{
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 5px;
    font-family: "Playwrite DK Loopet", cursive;
}

.img-1{
    border-radius: 10px;
    margin-left: 10px;
    display: block;
    position: relative;
    bottom: 70px;
}
.p-2{
    font-size: 20px;
    position: relative;
    top: 50px;
    right: 10px;
    direction: rtl;
}
.a-1{
    background-color: #00a2ff;
    border-radius: 10px;
    display: block;
    width: 180px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-family: "Rubik", sans-serif;
    padding-top: 4px;
}
.line {
    position: relative;
    bottom: 15px;
    height: 4px;
    width: 0;
    margin: 0 auto;              /* يبدأ من المنتصف */
    border-radius: 6px;
    background: linear-gradient(
        270deg,
        #00cfff,
        #b388ff,
        #5e17eb,
        #00cfff
    );
    background-size: 600% 600%;
    animation:
        growFromCenter 0.8s ease-out forwards,
        gradientMove 6s linear infinite;
}

/* التمدد من المنتصف يمينًا ويسارًا */
@keyframes growFromCenter {
    from {
        width: 0;
    }
    to {
        width: 150px;
    }
}

/* حركة الألوان لا نهائية وسلسة */
@keyframes gradientMove {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
