body{
    background-color: rgb(15, 22, 37);
}
header{
    width: 100%;
    background-color:rgb(26, 39, 66);
    height: 170px;
    border-radius: 10px;
    color: white;
}
h1{
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 35px;
}
.h2-1{
    font-family: "Playwrite DK Loopet", cursive;
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 35px;
    font-weight: 800;
    background: linear-gradient(
    270deg,
    #0066ff,
    #ff0000,
    #ff9900,
    #0066ff  /* تكرار اللون الأول لانتقال سلس */
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.article-1,.article-2{
    color: white;
    background-color: rgb(26, 39, 66);
    margin-top: 40px;
    border-radius: 10px;
    width: 100%;
    height: 290px;
    font-family: "Roboto", sans-serif;
}
.article-1{
      height: 330px;
}

.article-2{
    height: 270px;

}
.p-1{
    text-align: center;
    margin-right: 10px;
    margin-top: 40px;
    font-size: 20px;
}
.h2-2{
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 5px;
    font-family: "Playwrite DK Loopet", cursive;
}

.img-1{
    border-radius: 10px;
    margin-left: 10px;
    display: block;
    position: relative;
    bottom: 100px;
}
.p-2{
    font-size: 25px;
    position: relative;
    top: 50px;
    right: 20px;
    direction: rtl;
}
